In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from functions import main, save_df, import_to_sql
from graphics import *

df_all = main("https://www.cheapshark.com/api/1.0/deals")

In [3]:
df_games = df_all[['gameID', 'title', 'release_date', 'scores']].copy()
df_games.drop_duplicates(subset=['gameID'], inplace=True)
df_games = df_games.reset_index(drop=True)
save_df(df_games, "games")

In [4]:
df_shops = df_all[['store_id', 'store_name']].copy()
df_shops.drop_duplicates(subset=['store_id'], inplace=True)
df_shops.reset_index(drop=True)
save_df(df_shops, "shops")

In [5]:
df_gameunits = df_all[['gameID', 'store_id', 'original_price', 'discount_price']].copy()
save_df(df_gameunits, "units")

In [6]:
df_games_genres = df_all[['gameID', 'genre_name']].copy().explode("genre_name")

df_games_genres.insert(0, 'id', range(1, len(df_games_genres) + 1))


save_df(df_games_genres, "games_genres")

In [7]:
df_genres = df_all[['genre_name']].copy().explode('genre_name').drop_duplicates().reset_index(drop=True)
df_genres = df_genres[df_genres['genre_name'].notna()]

df_genres['description'] = 'null'

save_df(df_genres, "genres")

In [8]:

import_to_sql(df_games, 'games')

import_to_sql(df_genres, 'genres')

import_to_sql(df_games_genres, 'games_genres')

import_to_sql(df_shops, 'shops')

import_to_sql(df_gameunits, 'units')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '25' for key 'shops.PRIMARY'")
[SQL: INSERT INTO shops (store_id, store_name) VALUES (%(store_id)s, %(store_name)s)]
[parameters: [{'store_id': '25', 'store_name': 'Epic Games Store'}, {'store_id': '23', 'store_name': 'GameBillet'}, {'store_id': '25', 'store_name': 'Epic Games Store'}, {'store_id': '7', 'store_name': 'GOG'}, {'store_id': '3', 'store_name': 'GreenManGaming'}, {'store_id': '34', 'store_name': 'Noctre'}, {'store_id': '34', 'store_name': 'Noctre'}, {'store_id': '30', 'store_name': 'IndieGala'}  ... displaying 10 of 60 total bound parameter sets ...  {'store_id': '29', 'store_name': '2Game'}, {'store_id': '23', 'store_name': 'GameBillet'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [8]:
#average_disc_vs_shop_bar(deals_df)
# min_max_disc_vs_shop_bar(deals_df)
# linear_graph_discounts_vs_punct_linear(deals_df)
# genre_vs_mean_discount_bar(unroll_list_from_dfcolumn(deals_df, 'genre'))
# circular_pie_chart_genres(unroll_list_from_dfcolumn(deals_df, 'genre'))
# linear_graph_discounts_vs_releasedate(clean_df_releases(deals_df))

In [9]:

df_shops

   store_id        store_name
0        25  Epic Games Store
1        23        GameBillet
2        25  Epic Games Store
3         7               GOG
4         3    GreenManGaming
5        34            Noctre
6        34            Noctre
7        30         IndieGala
8        30         IndieGala
9         2        GamersGate
10       27       Gamesplanet
11       30         IndieGala
12        2        GamersGate
13       34            Noctre
14       27       Gamesplanet
15        3    GreenManGaming
16       34            Noctre
17       34            Noctre
18       34            Noctre
19       30         IndieGala
20       27       Gamesplanet
21        2        GamersGate
22        3    GreenManGaming
23       34            Noctre
24       34            Noctre
25       34            Noctre
26       27       Gamesplanet
27        3    GreenManGaming
28        3    GreenManGaming
29       34            Noctre
30       34            Noctre
31       27       Gamesplanet
32       27       Gamesplanet
33       30         IndieGala
34       30         IndieGala
35        2        GamersGate
36        2        GamersGate
37       27       Gamesplanet
38       27       Gamesplanet
39        3    GreenManGaming
40       27       Gamesplanet
41       34            Noctre
42       27       Gamesplanet
43       27       Gamesplanet
44       27       Gamesplanet
45       30         IndieGala
46       30         IndieGala
47        2        GamersGate
48        2        GamersGate
49       27       Gamesplanet
50       34            Noctre
51       29             2Game
52       23        GameBillet
53        3    GreenManGaming
54       34            Noctre
55       27       Gamesplanet
56       30         IndieGala
57        2        GamersGate
58       29             2Game
59       23        GameBillet